<!-- start ingredient part -->
<div id="ingredientSection">
    <div class="col-lg-12 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                    <span>Ingredienten voor op de tostie <button id="new-ingredient-button" type="button" class="btn btn-success pull-right"
                                                                 data-toggle="modal"
                                                                 data-target="#add-ingredient">+</button></span>
                <!-- Trigger the add ingredient modal-->
            </div>
            <div class="panel-body">
                <div class="row hidden-xs">
                    <div class="col-lg-3 col-sm-3">
                        <span><strong>Naam</strong></span>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <span><strong>Omschrijving</strong></span>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <span><strong>Categorie</strong></span>
                    </div>
                    <hr>
                </div>
                <div class="row ingredient-row" ng-repeat="ingredien in ingredients track by $index">
                    <div class="col-lg-3 col-sm-3">
                        <strong class="hidden-sm hidden-md hidden-lg">Naam:</strong>
                        <span>{{ingredien.name}}</span>
                    </div>
                    <div class="col-lg-5 col-sm-5">
                        <strong class="hidden-sm hidden-md hidden-lg">Omschrijving:</strong>
                        <span>{{ingredien.description}}</span>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <strong class="hidden-sm hidden-md hidden-lg">Categorie:</strong>
                        <span>{{ingredien.category}}</span>
                    </div>
                    <div class="col-lg-2 col-sm-2">

                        <button type="button" class="btn btn-danger delete-btn-ingredient" ng-click="deleteIngredient(ingredien.name)">x
                        </button>
                        <button type="button" class="btn btn-info" ng-click="updateIngredientInit(ingredien)"><i class="fa fa-wrench" aria-hidden="true"></i>
                        </button>
                    </div>
                    <hr class="hidden-sm hidden-md hidden-lg">
                </div>
            </div>
        </div>

    </div>
    <!-- Modal Add Ingredient -->
    <div id="add-ingredient" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form id="ingredient-save-form" ng-submit="saveNewIngredient()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ingredient Toevoegen.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ingredient-name-input">Naam:</label>
                            <input id="ingredient-name-input" type="text" class="form-control" placeholder="Naam"
                                   ng-model="newIngredient.name" required>
                        </div>
                        <div class="form-group">
                            <label for="ingredient-description-input">Omschrijving:</label>
                            <input id="ingredient-description-input" type="text" class="form-control"
                                   placeholder="Omschrijving"
                                   ng-model="newIngredient.description" required>
                        </div>
                        <div class="form-group">
                            <label for="ingredioent-category-select">Categorie:</label>
                            <select id="ingredioent-category-select" class="form-control"
                                    ng-model="newIngredient.category"
                                    required>
                                <option ng-repeat="ingCat in ingredientCategory track by $index" value="{{ingCat}}">
                                    {{ingCat}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                            <button type="submit" class="btn btn-success">Opslaan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End ingredient part-->

    <!-- Modal update Ingredient -->
    <div id="update-ingredient" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form ng-submit="updateIngredient()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Ingredient</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ingredient-name-update-input">Naam:</label>
                            <input id="ingredient-name-update-input" type="text" class="form-control"
                                   placeholder="Naam"
                                   ng-model="updateIngredientElement.name" required>
                        </div>
                        <div class="form-group">
                            <label for="ingredient-description-update-input">Omschrijving:</label>
                            <input id="ingredient-description-update-input" type="text" class="form-control"
                                   placeholder="Omschrijving"
                                   ng-model="updateIngredientElement.description" required>
                        </div>
                        <div class="form-group">
                            <label for="ingredient-category-update-select">Categorie:</label>
                            <select id="ingredient-category-update-select" class="form-control"
                                    ng-model="updateIngredientElement.category"
                                    required>
                                <option ng-repeat="ingCat in ingredientCategory track by $index" value="{{ingCat}}">
                                    {{ingCat}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                            <button type="submit" class="btn btn-success">Opslaan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--End ingredient part-->
<script type="text/javascript">
    $('#add-ingredient').modal({
        backdrop: 'static',
        keyboard: false
    });

    $('#update-ingredient').modal({
        backdrop: 'static',
        keyboard: false
    });
    $('#add-ingredient').modal('hide');
    $('#update-ingredient').modal('hide');
</script>
